<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AreaHP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9913BDF21BFBB85000DA0189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9913BE001BFBB85C00DA0189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9992E7AB1BD5226A004A2EA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9992E7C21BD5226B004A2EA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9992E7CD1BD5226B004A2EA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
